USE [AssignmentDb]
GO
/****** Object:  StoredProcedure [dbo].[sp_createTask]    Script Date: 18-12-2025 23:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_createTask]
(
   
    @Title NVARCHAR(200),
    @Description NVARCHAR(1000) = NULL,
    @DueDate DATETIME = NULL,
    @Status NVARCHAR(50),
    @Remarks NVARCHAR(500) = NULL,
    @CreatedById NVARCHAR(50),
    @CreatedByName NVARCHAR(100),
    @IsActive BIT = 1,
	@TaskId INT OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @Id nvarchar(40) = newid();
	SET @TaskId = 0;
    INSERT INTO Task
    (
        Id,
        Title,
        Description,
        DueDate,
        Status,
        Remarks,
        IsActive,
        CreatedOn,
        CreatedById,
        CreatedByName
    )
    VALUES
    (
        @Id,
        @Title,
        @Description,
        @DueDate,
        @Status,
        @Remarks,
        @IsActive,
        GETDATE(),
        @CreatedById,
        @CreatedByName
    );

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_deleteTask]    Script Date: 18-12-2025 23:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_deleteTask]

    @Id NVARCHAR(40),

	@IsActive bit =0,

    @TaskId nvarchar(40) OUTPUT   

AS

BEGIN

    SET NOCOUNT ON;



    -- Update task

    UPDATE Task

    SET 

       

		IsActive = @IsActive

    WHERE Id = @Id;



    

    SET @TaskId = @Id;

END

GO
/****** Object:  StoredProcedure [dbo].[sp_getTaskById]    Script Date: 18-12-2025 23:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_getTaskById]
(
    @Id NVARCHAR(40)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Title,
        Description,
        DueDate,
        Status,
        Remarks,
        CreatedOn,
        CreatedById,
        CreatedByName,
        LastUpdatedOn,
        LastUpdatedById,
        LastUpdatedByName
    FROM Task
    WHERE Id = @Id
      AND IsActive = 1;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_getTasks]    Script Date: 18-12-2025 23:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[sp_getTasks]

(

    @Title NVARCHAR(200) = NULL,

    @Status NVARCHAR(50) = NULL,

    @CreatedByName NVARCHAR(100) = NULL,

    @Remarks NVARCHAR(500) = NULL,

    @FromDate DATETIME = NULL,

    @ToDate DATETIME = NULL

)

AS

BEGIN

    SET NOCOUNT ON;



    SELECT

        CAST(Id AS NVARCHAR(40)) AS Id,

        Title,

        Description,

        DueDate,

        Status,

        Remarks,

        CreatedOn,

        CreatedByName

    FROM Task

    WHERE IsActive = 1

      AND (@Title IS NULL OR Title LIKE '%' + @Title + '%')

      AND (@Status IS NULL OR Status LIKE '%' + @Status + '%')

      AND (@CreatedByName IS NULL OR CreatedByName LIKE '%' + @CreatedByName + '%')

      AND (@Remarks IS NULL OR Remarks LIKE '%' + @Remarks + '%')

      AND (@FromDate IS NULL OR DueDate >= @FromDate)

      AND (@ToDate IS NULL OR DueDate <= @ToDate)

    ORDER BY CreatedOn DESC;

END;

GO
/****** Object:  StoredProcedure [dbo].[sp_updateTask]    Script Date: 18-12-2025 23:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_updateTask]

    @Id NVARCHAR(40),
    @Title NVARCHAR(200) ,
    @Description NVARCHAR(1000),
    @DueDate DATETIME,
    @Status NVARCHAR(50) ,
	@IsActive bit =0,
    @Remarks NVARCHAR(500) ,
    @CreatedById NVARCHAR(50)  ,
    @CreatedByName NVARCHAR(100) ,
    @CreatedOn DATETIME,
    @TaskId nvarchar(40) OUTPUT
AS

BEGIN

    UPDATE Task
    SET 
        Title = @Title,
        Description = @Description,
        DueDate = @DueDate,
        Status = @Status,
        Remarks = @Remarks,
        LastUpdatedOn = GETDATE(),
        LastUpdatedById = @CreatedById,
        LastUpdatedByName = @CreatedByName
    WHERE Id = @Id;

    SET @TaskId = @Id;

END
GO
/****** Object:  Table [dbo].[Task]    Script Date: 18-12-2025 23:31:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [nvarchar](40) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[DueDate] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](500) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[LastUpdatedOn] [datetime] NULL,
	[CreatedById] [nvarchar](50) NOT NULL,
	[CreatedByName] [nvarchar](100) NOT NULL,
	[LastUpdatedById] [nvarchar](50) NULL,
	[LastUpdatedByName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Task] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
